/* forgotpassword button  */

.login_body .css-sghohy-MuiButtonBase-root-MuiButton-root {
  margin-top: 30px;
  font-size: 18px;
  background-color: var(--color-incomeAndExpense-color);
  color: var(--color-incomeAndExpense-bg);
  transition: 0.3s ease-in;
}

.login_body .css-sghohy-MuiButtonBase-root-MuiButton-root:hover {
  /* margin: 30px 0; */
  font-size: 18px;
  background-color: var(--color-incomeAndExpense-hoverbtn-color);
  color: var(--color-incomeAndExpense-color);
  scale: 0.97;
}
